## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww]in32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/[Pp]ackages/repositories.config
!**/[Pp]ackages/*.props

## dotnet publish
[Pp]ublish/
[Pp]ublish[Oo]utput/

## IDE
.idea/
.vscode/
*.DS_Store

## Secrets / environment
appsettings.*.json
!appsettings.Development.json
*.env
.env
